$main-orange: #f0a00b;

a {
    text-decoration: none;
}

.header-home-page {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100vw;
    height: 60px;
    justify-items: center;
    align-items: center;
    background-color: $main-orange;
    font-size: 18px;
    font-weight: 900;

    #logo {
        color: white;
    }

    nav#main-nav {

        ul {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 150px;
            list-style: none;
            
            li {
                color: black;
            }
        }
    }
}

.banner-home-page {
    height: 100vh;
    background-size: cover;
    background: linear-gradient(rgba(0, 0, 0, 0.425), rgba(0, 0, 0, 0.322)), url("./img/bike home page.jpg") no-repeat center center fixed;
    display: grid;
    align-content: center;

    #text-banner-home-page {
        color: white;
        font-size: 100px;
    }
}

.how-it-works-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;

    .how-it-works-header {
        display: flex;
        column-gap: 25px;
        height: 128px;

        img {
            width: auto;
            height: 128px;
        }
    }

    h1 {
        color: $main-orange;
    }
}

footer {
    text-align: center;
}

/**Login / Sign up Pages**/

.login-signUp-container {
    display: grid;
    grid-template-columns: 50%;
    justify-content: center;
    align-content: start;
    row-gap: 15px;
    height: 100vh;

    h1 {
        color: $main-orange;
    }

    input {
        border-radius: 15px;
        height: 30px;
    }

    button {
        background-color: $main-orange;
        border: none;
        height: 35px;
        border-radius: 15px;
        font-size: 18px;
        color: white;
        margin-top: 15px;
    }

    .login-signUp-grid-rows {
        display: grid;
    }
}

/**Login / Sign up**/